.index{
	background-color: #DBD7DF;
}

.btop{
	background-color: #C03535;
}

.bfoot{
	background-color: #DBD7DF;	
}

.font-tittle{
	font-family: 'Permanent Marker', cursive;
	text-shadow: 2px 2px 5px #000000;
}
/*Tabla de resultados*/
.tableth{
	background-color: #42B9D3;
	color:#F5F5F6;
}
/*Boton añadir*/
.botonanadir{
	border-radius: 0px 200px 200px 200px;
	-moz-border-radius: 0px 200px 200px 200px;
	-webkit-border-radius: 0px 200px 200px 200px;
	border: 0px solid #000000;
}
/*Boton ejecutar función*/
.botonejecutarfuncion{
	border-radius: 72px 73px 200px 75px;
	-moz-border-radius: 72px 73px 200px 75px;
	-webkit-border-radius: 72px 73px 200px 75px;
	border: 0px solid #000000;
}
/*Botones funciones*/
.botonfunciones{
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}
/*Información Banner*/
.information{	
	font-family: 'Josefin Sans', sans-serif;
	border-color: black;
	color: white;
	font-size: 11px;
	text-align: right;
	text-shadow: 2px 2px 5px #000000;
}
.inputcenter{
	text-align: center
}